footer {
  max-width: 125rem;
  margin: auto;
  margin-top: 12rem;
  .desk-footer {
    border-top: solid white 3px;
    margin-right: 2rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .site-map {
      li {
        margin-top: 1rem;
        margin-bottom: 1rem;
        a {
          font-size: 1.2rem;
          font-weight: 500;
          &:hover {
            opacity: 80%;
          }
        }
      }
    }
    .soc-links {
      margin-top: 3rem;
      margin-bottom: 3rem;
      .soc-row {
        display: flex;
        flex-direction: row;
        .github-svg,
        .mail-svg {
          margin-right: 0rem;
        }
        li,
        a {
          fill: white;
          margin: 0.5rem;
          &:hover {
            opacity: 80%;
          }
          svg {
            width: 2rem;
            height: 2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  footer {
    .desk-footer {
      .copyright {
        display: none;
      }
    }
  }
}
