* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: black;
  color: white;
  font-family: "Work Sans", sans-serif;
  transition: all 0.2s ease-in-out;
}

// CUSTOM SCROLLBAR

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(51, 51, 51);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(182, 182, 182);
}

::selection {
  color: black;
  background: white;
}
::-moz-selection {
  color: black;
  background: white;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

/*
Light 300
Light 300 italic
Regular 400
Regular 400 italic
Medium 500
Medium 500 italic
Semi-bold 600
Semi-bold 600 italic
Bold 700
Bold 700 italic
*/

li,
a {
  color: white;
  text-decoration: none;
  list-style: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 55%;
  }
}

h1 {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 3%;
}

button {
  background: none;
  border: none;
}
