* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: #080808;
  color: white;
  font-family: "Space Grotesk", sans-serif;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

/*
Regular 400
Medium 500
Semi-bold 600
Bold 700
*/

// CUSTOM SCROLLBAR

// /* width */
// ::-webkit-scrollbar {
//   width: 6px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: rgba(0, 0, 0, 0);
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: rgba(0, 0, 0, 0.178);
//   //border-radius: 90px;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: rgba(0, 0, 0, 0.5);
// }

a {
  color: white;
  text-decoration: none;
}
ul {
  list-style: none;
}

.right {
  width: 44%;
}
.left {
  width: 56%;
}
