header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10rem;
  backdrop-filter: blur(5px);
  background: #080808e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  .pc-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      font-size: 2.8rem;
      font-weight: 700;
      letter-spacing: 1px;
      margin-left: $margin1;
      color: white;
    }
    nav {
      ul {
        display: flex;
        li {
          margin-left: 3.5rem;
          a {
            font-size: 1.6rem;
            border-bottom: 1px transparent;
            transition: all 0.2s ease-in-out;
            &:hover {
              width: 100%;
              border-bottom: 1px solid white;
            }
          }
          .active {
            border-bottom: 1px solid white;
          }
        }
      }
      margin-right: $margin1;
    }
    .mob-nav-btn {
      display: none;
      background: none;
      border: none;
      color: white;
      font-size: 2.4rem;
    }
  }
}

.mob-nav {
  display: none;
  position: fixed;
  top: 8rem;
  width: 100%;
  backdrop-filter: blur(5px);
  background: #080808e1;
  z-index: 10;
  ul {
    text-align: end;
    margin-right: $margin3;
    margin-top: 3rem;
    margin-bottom: 1rem;
    li {
      font-weight: 500;
      margin-bottom: 2rem;
      a {
        font-size: 2rem;
        border-bottom: 1px transparent;
        transition: all 0.2s ease-in-out;
        &:hover {
          width: 100%;
          border-bottom: 1px solid white;
        }
      }
      .active {
        border-bottom: 1px solid white;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  header {
    .pc-wrap {
      .logo {
        margin-left: $margin2;
      }
      nav {
        margin-right: $margin2;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  header {
    .pc-wrap {
      .logo {
        margin-left: $margin3;
      }
      nav {
        margin-right: $margin3;
      }
    }
  }
}

@media screen and (max-width: 965px) {
  header {
    height: 8rem;
    .pc-wrap {
      .logo {
        font-size: 1.8rem;
      }
      .pc-nav {
        display: none;
      }
      .mob-nav-btn {
        display: block;
        margin-right: $margin3;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  header {
    .pc-wrap {
      .logo {
        margin-left: $margin4;
      }
      nav {
        margin-right: $margin4;
      }
      .mob-nav-btn {
        margin-right: $margin4;
      }
    }
  }

  .mob-nav {
    ul {
      margin-right: $margin4;
    }
  }
}

@media screen and (max-width: 420px) {
  header {
    .pc-wrap {
      .logo {
        margin-left: $margin5;
      }
      nav {
        margin-right: $margin5;
      }
      .mob-nav-btn {
        margin-right: $margin5;
      }
    }
  }
  .mob-nav {
    ul {
      margin-right: $margin5;
    }
  }
}
