.hero {
  max-width: 125rem;
  margin: auto;
  margin-top: 10rem;
  max-height: 38rem;
  display: flex;
  flex-direction: row;
  .pic {
    //background: red;
    display: flex;
    flex-direction: row;
    .links-mob {
      display: none;
    }
    .img-cont {
      display: flex;

      .pic-title {
        object-fit: scale-down;
        max-width: 1.8rem;
        align-self: flex-end;
        margin: 1rem;
        margin-left: 2rem;
      }
      .pic-img {
        height: 38rem;
        max-width: 32rem;
        object-fit: cover;
        border-radius: 0.8rem;
        margin-right: 1rem;
      }
    }
  }

  .graphics {
    //background: blue;
    width: 100%;
    display: flex;
    flex-direction: column;
    .gr-row1 {
      //background: grey;
      margin-top: 4rem;
      display: flex;
      .hero-text {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        width: 70%;
        .hero-title {
          font-size: 2rem;
          margin-left: 2rem;
          margin-bottom: 0.4rem;
          margin-right: 2rem;
        }
        .hero-subtitle {
          margin-right: 2rem;
        }
        .line-cont {
          display: flex;
          flex-direction: row;
          .line-gr {
            width: 95%;
          }
        }
        .hero-subtitle {
          font-size: 2rem;
          font-weight: 400;
          margin-left: 2rem;
        }
      }
      .contact-btn {
        align-self: center;
        background: white;
        margin-right: 2rem;
        color: black;
        width: 30%;
        text-align: center;
        padding: 2.5rem 0rem;
        border-radius: 8px;
        font-size: 1.8rem;
        font-weight: 700;
        border: solid white 3px;
        &:hover {
          background: black;
          color: white;
        }
      }
    }
    .gr-row2 {
      height: 23rem;
      //background: yellow;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .line-gr {
        background: white;
        height: 75%;
        width: 0.3rem;
        margin-right: 10rem;
      }
    }
    .gr-row3 {
      //background: pink;
      height: 7rem;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      .links-desk {
        padding: 1rem 2rem;
        min-width: 42rem;
        border-radius: 8px;
        border: white solid 3px;
        margin-right: 2rem;
        .link-list {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          margin-top: 0.5rem;
          .email {
            margin-bottom: 0.3rem;
          }
          li {
            font-size: 1.4rem;
            font-family: "Work Sans", sans-serif;
            a {
              fill: white;
              &:hover {
                opacity: 80%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 830px) {
  .hero {
    flex-direction: column;
    margin-right: 2rem;
    margin-left: 2rem;
    min-height: 66rem;
    .pic {
      //align-self: flex-end;
      display: flex;
      justify-content: space-between;
      .links-mob {
        display: flex;
        margin-right: 1rem;
        .link-list {
          align-self: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          margin-top: 0.5rem;
          height: 80%;
          li {
            a {
              fill: white;
              &:hover {
                opacity: 80%;
              }
            }
          }
        }
      }
      .img-cont {
        .pic-img {
          margin-right: 0rem;
          max-width: 36rem;
        }
      }
    }
    .graphics {
      .gr-row1 {
        flex-direction: column;
        margin-top: 5rem;
        .hero-text {
          margin-left: 0rem;
          width: 100%;
          .line-cont {
            .line-gr {
              width: 100%;
            }
          }
        }
        .contact-btn {
          width: 100%;
          margin-top: 4rem;
          margin-right: 0rem;
        }
      }
      .gr-row2 {
        display: none;
      }
      .gr-row3 {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .hero {
    min-height: 66rem;
    margin-top: 5rem;
    .pic {
      .img-cont {
        .pic-img {
          max-width: 32rem;
        }
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .hero {
    .pic {
      .img-cont {
        .pic-img {
          max-width: 30rem;
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .hero {
    min-height: 60rem;
    .pic {
      .img-cont {
        .pic-img {
          max-width: 26rem;
          max-height: 32rem;
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .hero {
    min-height: 58rem;
    .pic {
      .img-cont {
        .pic-img {
          max-width: 22rem;
          max-height: 28rem;
        }
      }
    }
    .graphics {
      .gr-row1 {
        .hero-text {
          .hero-title,
          .hero-subtitle {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}
