$margin1: 15rem;
$margin2: 8rem;
$margin3: 4rem;
$margin4: 3rem;
$margin5: 2rem;

@import "global";
@import "header";
@import "hero";
@import "footer";
@import "contact";
@import "portfolio";
@import "work";
@import "tech-stack";
@import "life";
@import "thanks";
